* {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: normal;
}

html {
  height: 100%;
  background: #fd746c;
  background: -webkit-linear-gradient(left top, #fd746c, #feb47b/*#ff9068*/); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #fd746c, #feb47b); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #fd746c, #feb47b); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #fd746c, #feb47b); /* Standard syntax */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  max-width: 700px;
  max-height: 700px;
  margin: 2em auto;
}

#city {
  display: block;
  padding-top: 0.5em;
  font-size: 2.5em;
  font-family: "Raleway", Arial, sans-serif;
}

.weather-icon {
  margin-top: 2em;
  height: 250px;
}

.weather-info {
  display: relative;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.6em;
  margin-bottom: 1.5em;
}

#temp-celsius, #temp-fahrenheit {
  font-weight: 800;
  font-size: 1.7em;
}

.unit-change {
  border: 2px solid #FDFDFD;
  border-radius: 20px;
  padding: 0.5em 1.5em;
}

.unit-change:hover {
  background-color: #FDFDFD;
  color: salmon;
}

.unit-change:active {
  background-color: lightgray;
}

footer {
  position: relative;
  bottom: 0;
  padding: 1em 1em 0 1em;
  text-align: center;
}

footer p {
  font-size: 1em;
}

.hidden {
  display: none;
}
