* {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: normal;
  box-sizing: border-box;
}

html {
  height: 100%;

  background: #fd746c;
  background: -webkit-linear-gradient(left top, #fd746c, #feb47b/*#ff9068*/); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #fd746c, #feb47b); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #fd746c, #feb47b); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #fd746c, #feb47b); /* Standard syntax */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  position: relative;
  max-width: 700px;
  max-height: 700px;
  margin: 2em auto;
}

#city {
  display: block;
  padding-top: 0.5em;
  font-size: 2.5em;
  font-family: "Raleway", Arial, sans-serif;
}

.weather-icon {
  margin-top: 2em;
  margin-left: auto;
  height: 200px;
}

/*Contains humidity, temperature and description */
.weather-info {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.6em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

/*Temperature's unit converter */
.unit-change {
  border: 2px solid #FDFDFD;
  border-radius: 20px;
  padding: 0.5em 1.5em;
}

.unit-change:hover {
  background-color: #FDFDFD;
  color: #333447;
}

.unit-change:active {
  background-color: lightgray;
}

#temp-celsius, #temp-fahrenheit {
  font-weight: 800;
  font-size: 1.7em;
}

.hidden { /*Toggle Celsius/Fahrenheit on button click*/
  display: none;
}

/*----------------------------*/
footer {
  position: relative;
  bottom: 0;
  padding: 1em 1em 0 1em;
  text-align: center;
}

footer p {
  font-size: 0.8em;
}

/* For devices up to 720px screen widht*/
@media only screen and (max-width: 719px) {
  .container {
    margin: 0;
    width: 100%;
  }

  .weather-info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .first_div {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .second_div {
    -webkit-box-ordinal-group: 0;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }

  .first_div, .third_div {
    font-size: 0.7em;
  }

  .unit-change {
    background-color: #FDFDFD;
    color: #333447;
  }
}
