$shadow-external-big: 0 0 50px rgba(0, 0, 0, 0.2);
$blue: linear-gradient(135deg, #007991 -20%, #78ffd6 120%);

.app {
  background: $blue;
  color: white;
  width: 340px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: $shadow-external-big;
  border-radius: 2rem;
  text-align: center;
  padding: 0 2rem;
  #loading-spinner {
  	pointer-events: none;
  	width: 3rem;
  	height: 3rem;
  	border: 0.6rem solid transparent;
  	border-color: transparent;
  	border-top-color: white;
  	border-radius: 50%;
  	animation: loadingspin 1s linear infinite;
    @keyframes loadingspin {
      100% {transform: rotate(360deg)}
    }
  }
  &__wrapper {
    color: white;
    text-align: center;
    align-self: baseline;
    width: 100%;
    .weather-temp {
      display: flex;
      align-items: center;
      margin-top: 14rem;
      * {
        width: 50%;
        align-self: baseline;
        font-size: 5rem;
      }
    }
    .weather-description {
      margin-top: 2rem;
      font-size: 2rem;
    }
    .weather-features {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 2rem;
    }
    .btn {
      margin-top: 14rem;
      display: none;
      width: 10rem;
    }
  }
}
