.app {
  background: #ffde3c;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .app__wrapper {
    text-align: center; }
    .app__wrapper .btn {
      display: none; }
